body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #323238;

}
form{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #545463;
  text-align: center;
}
form h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
form input[type="text"], form select, form output{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
form select{
  text-align: center;
}
form input::placeholder{
  color: white;
}
form select option{
  background-color: black;
  border-radius: 24px;
}
form input[type="text"]:focus, form select:focus{
width: 280px;
border-color: #2ecc71;
}
form button[type = "button"],form button[type = "reset"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
form button[type = "button"]:hover,form button[type = "reset"]:hover{
  background: #2ecc71;
}
